.column {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 2%;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    gap: 30px
}

.topRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px
}

.suggestions {
    border: 1px solid #ccc;
    border-top: none;
    list-style-type: none;
    margin-top: -20px;
    padding: 0;
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #ddd;
}


.filter-clear {
    display: flex;
    flex-direction: row;
    left:0;
    justify-content: space-between;
    padding-right: 1%;
    width: 15%;
}

@media (max-width: 420px) {
    .filter-clear {
    display: none;
    }}



.tags-sort {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}
@media(max-width: 420px) {
    .tags-sort {
        display: none;
    }
}

@media(min-width: 420px) {
    .cart {
        display: none;
    }
}

@media(max-width: 420px) {
    .bottomCart{
        position: absolute;
    }
}


.tags {
    align-items: center;
    align-self: center;
}

.filter {
    cursor: pointer;
}

.view-all {
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
    align-items: flex-end;
    right: 0px;
}

.column-h3 {
    color: var(--Black, #000);
    /* Heading/H5 */
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    /* 33.6px */
}

.column-h5 {
    color: var(--Black, #000);
    /* Heading/H5 */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    /* 33.6px */
}

.results::-webkit-scrollbar {
    display: none;
}

.results {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    overflow-y: scroll hidden;
    justify-content: flex-start;
    overflow-x: hidden;
    height: 103vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    column-gap: 1%;
    /* Firefox */
}

@media(max-width: 420px) {
    .results {
    width: 100%;    
    }
}


.resultsProject::-webkit-scrollbar {
    display: none;
}

.resultsProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll hidden;
    overflow-x: hidden;
    height: 103vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    padding-block: 5px;
    /* Firefox */
}

@media(max-width: 420px) {
    .resultsProject {
    justify-content: center;    
    }
}

@media(max-width: 420px) {
    .resultsFavourite {
    justify-content: center;    
    }
}

.resultsFavourite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll hidden;
    overflow-x: hidden;
    width: 100%;
    height: 90vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    padding-block: 5px;
    /* Firefox */
}

.resultsFav::-webkit-scrollbar {
    display: none;
}

.resultsFav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    padding: 5px;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    
    /* Firefox */
}

.no-results-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    border: solid;
    padding: 2px;
    width: 100%;
}

.filters-column {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: flex-start;
    background-color: #d2d1d1;
    padding-inline: 1%;
    padding-block: 2%;
    gap: 20px;
    border-radius: 15px;
    overflow-y: scroll;
    height: 80vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 0px;
}
@media(max-width: 420px) {
    .filters-column {
        display: none;
    }}
@media(max-width: 420px) {
    .filters-column-mobile {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: #d2d1d1;
        height: 80%;
        bottom: 0px;
        border-top-left-radius: 0.75rem /* 12px */;
        border-top-right-radius: 0.75rem /* 12px */;
        border-width: 2px;
        border-style: solid;
        --tw-border-opacity: 1;
        border-color: rgb(156 163 175 / var(--tw-border-opacity)) /* #9ca3af */;
        --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        --tw-shadow-color: #9CA3AF;
        --tw-shadow: var(--tw-shadow-colored);
        justify-content: space-between;
        padding-block: 4%;
        width: 100%;
        z-index: 1;
    }
}

.column-filter-spacer {
    display: block;
    border-bottom: 1px solid #000000;
    width: 100%;
    padding-bottom: 20px;
}

.collapsable-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
@media(max-width: 420px){
.collapsable-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    align-items: flex-start;
}}

.filter-type {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    align-items: flex-start;
    justify-items: flex-start;
    justify-content: space-between;
    width: 100%;
    text-align: left;

}

.filter-type div {
    display: flex;
    align-items: flex-start;
    right: 0px;
}

.filters {
    width: 100%;
}

.option {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: row;
    padding-top: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5);
    /* IE */
    -moz-transform: scale(1.5);
    /* FF */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
    transform: scale(1.5);
    padding: 5px;
}

.plantName {
    align-self: left;
    text-align: left;
    margin-top: 4%;
    margin-left: 4%;
    font-style: italic;
    font-size: 16px;
    color: #000;
    -webkit-text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.button-view-all {
    background-color: transparent;
    border: px solid #000;
    /* Add a border to make the button visible */
    color: #000;
    /* Text color */
    padding: 10px 15px;
    /* Adjust padding as needed */
    text-decoration: none;
    /* Remove underline for anchor elements */
    cursor: pointer;
    /* Add cursor pointer for interaction */
    align-self: flex-end;

}

.plant-card {
    display: flex;
    flex-direction: column;
    width: 225px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(217, 245, 158);
}

.plant-card-image {
    height: 225px;
    background-image: url('..\\resources\\images\\plant-card.jpg');
}

.plant-name {
    text-align: left;
    font-size: larger;
    font-weight: 600;
    color: #000;
    padding: 2px;
}

.plant-description {
    text-align: left;
    font-size: medium;
    color: #535151;
    padding: 2px;
}

.plant-price {
    text-align: left;
    font-size: medium;
    font-weight: 600;
    color: #000;
    padding: 2px;
}

.column-curiosity {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 50px;
}

.column-curiosity-inner {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.curiosity-image {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
}

.curiosity-active {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100px;
    width: 100%;
    border-left: solid 2px;
    margin-bottom: 30px;
    padding: 10px;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s;
}

.curiosity {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    opacity: 0.4;
    transform: scale(0.6);
    transition: transform 0.5s;
}

.curiosity-title {
    text-align: left;
    font-size: 30px;

}

.product-card {
    width: 32%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: fit-content;
}

@media(max-width: 420px) {
    .product-card {
        width: 95%;
        padding: 2px;
    }
}

.fav-card {
    width: 250px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: fit-content;
}

@media(max-width: 420px) {
    .project-card {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
    }
}

.project-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: fit-content;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    z-index: 0;
}

.image {
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 25vh;
    /*   float: left; */
}

.main .addToCart {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(63, 62, 62);
    margin-top: -30px;
    left: 85%;
    font-size: larger;
    position: relative;
}

.main .addToFav {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(63, 62, 62);
    top: 2%;
    left: 85%;
    font-size: larger;
    position: relative;
}

.sideCart-element {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 5%
}
@media(max-width: 420px){
    .sideCart-element {
    display: flex;
    width: 80%;
    flex-direction: row;
    height: fit-content;
    gap: 5%}
}

.sideCart-element .removeFromCart {
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 5px;
    padding: 5px;
    background-color: rgb(12, 11, 11);
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

#main-h2 {
    margin-left: 10px;
    color: var(--dark-text);
    font-size: 1.5rem;
    font-weight: 700;
}

#main-h3 {
    margin-left: 10px;
    font-size: 1.3rem;
    padding: 5px 0px;
    font-weight: 500;
    color: green !important;
    color: var(--green);
    text-align: left;
}

.main-characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-characteristic {
    display: flex;
    flex-direction: row;
    bottom: 0px;
}

.main-characteristic a {
    font-size: x-small;
    align-self: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-block: 1px;
}

/* .main-characteristic a {
    margin-left: 10px;
    margin-top: 16px;
    font-weight: 600;
}
*/
.main-characteristics img {
    height: 26px;
    background-size: contain;
}

.main-description {
    width: 30%;
}

.main-collpsable {
    width: 80%;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    text-align: left;
}

.seeMoreBtn {
    margin-top: 30px;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, auto));
    grid-template-rows: 1fr 1fr;
    padding-inline: 20px;
    height: 10%;
    padding: 10px;
    align-items: center;
    row-gap: 20%;
    justify-content: space-between;
}

.details.small {
    margin: 30px 0px;
}

.detail {
    display: flex;
    align-items: center;
    margin: 15px 0px;
    font-weight: 500;
}

.detail .type {
    color: var(--light-grey-text)
}

.detail .description {
    margin-left: auto;
    color: var(--dark-text)
}

.sideCart::-webkit-scrollbar {
    display: none;
}

.sideCart {
    height: 80vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    background-color: #d2d1d1;
    transform-origin: top right;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 0px;
}

@media(max-width: 420px) {
    .sideCart {
        display: none;
    }
}
.noScrollBar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.exploreContainer {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px
}

@media (max-width: 420px) {
    .exploreContainer {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px
    }
  }

  @media (max-width: 420px) {
    .toolbar {
        height: 100vh;
        display: flex;
        left: 0;
        position: fixed;
        flex-direction: row;
        justify-content: space-between;
        width: 10%;
        gap: 20px
    }
  }

  .toolbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 32px;
  }

.sidecart-product-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    height: fit-content;
    border-radius: 10px;
    background-color: #e6eae3;
    overflow-y: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
    background-size: cover;
    height: 15vh;
    width: 20vh;
    background-repeat: no-repeat;
    background-position: center;

}

@media (max-width: 420px) {
    .sidecart-product-card {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 40px;
        height: fit-content;
        border-radius: 10px;
        background-color: #e6eae3;
        justify-content: end;
        overflow-y: hidden;
        -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
        background-size: cover;
        height: 25vh;
        width: 30vh;
        background-repeat: no-repeat;
        background-position: center;
    
    }
}

.sideCart.product-card img {
    height: 20vh;
}

.sidecart-product-card .plant-name {
    width: 90%;
    text-align: center;
    border-radius: 15px;
    font-size: 10px;
    background-color: rgba(242, 242, 229, 0.8);
    margin-top: 60%;
    margin-left: 5%;
}

@media (max-width: 420px) {
    .sidecart-product-card .plant-name {
        width: 90%;
        text-align: center;
        border-radius: 15px;
        font-size: 10px;
        background-color: rgba(242, 242, 229, 0.8);
        margin-bottom: 5%;
        margin-left: 5%;
    }
}

@media(max-width: 420px){
    .no-mobile{
        display: none;
    }
}


.scrollable-y {
    overflow-y: scroll;
}

/* The switch - the box around the slider */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 30px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: rgb(154, 152, 152);
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: #85dd00b0;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 2px #85dd00b0;
   }
   
   input:checked + .slider:before {
    transform: translateX(1.5em);
   }

   .cl-checkbox {
    position: relative;
    display: inline-block;
   }
   
   /* Input */
   .cl-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
   }
   
   /* Span */
   .cl-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
   }
   
   /* Box */
   .cl-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
   }
   
   /* Checkmark */
   .cl-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
   }
   
   /* Checked, Indeterminate */
   .cl-checkbox > input:checked,
   .cl-checkbox > input:indeterminate {
    background-color: #85dd00b0;
   }
   
   .cl-checkbox > input:checked + span::before,
   .cl-checkbox > input:indeterminate + span::before {
    border-color: #018786;
    background-color: #85dd00b0;
   }
   
   .cl-checkbox > input:checked + span::after,
   .cl-checkbox > input:indeterminate + span::after {
    border-color: #fff;
   }
   
   .cl-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
   }
   
   /* Hover, Focus */
   .cl-checkbox:hover > input {
    opacity: 0.04;
   }
   
   .cl-checkbox > input:focus {
    opacity: 0.12;
   }
   
   .cl-checkbox:hover > input:focus {
    opacity: 0.16;
   }
   
   /* Active */
   .cl-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
   }
   
   .cl-checkbox > input:active + span::before {
    border-color: #85b8b7;
   }
   
   .cl-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
   }
   
   /* Disabled */
   .cl-checkbox > input:disabled {
    opacity: 0;
   }
   
   .cl-checkbox > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
   }
   
   .cl-checkbox > input:disabled + span::before {
    border-color: currentColor;
   }
   
   .cl-checkbox > input:checked:disabled + span::before,
   .cl-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
   }
   