.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  align-self: stretch;
  width: 100%;
  border-bottom: solid chartreuse;
  position: fixed;
  z-index: 3;
  background-color: #fff;

}

.discover {
  position: relative;
  z-index: 2;
  background-image: url("\\resources\\images\\discover.jpg");
  background-size: 100% 100%;
  flex-wrap: wrap;
  width: 100%;
  height: 1000px;
}


.option {
  cursor: pointer;
}

.App-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-top: solid chartreuse;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  align-self: stretch;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
}

.footer-row-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
  padding: 10px;
}

.footer-row-policy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  padding-left: 12px;
  flex: 1 1;
  font-style: normal;
  font-weight: 100;
  font-size: smaller;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-column-updates {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}


.footer-newsletter {
  align-self: stretch;
  color: var(--Black, #000);

  /* Text/Medium/Semi Bold */
  font-style: normal;
  font-weight: 600;
  font-size: medium;
  line-height: 150%;
  /* 27px */
}

.footer-newsletter-2 {
  align-self: flex-start;
  color: var(--Black, #000);
  line-height: 9px;
  height: 15px;
  /* Text/Medium/Semi Bold */
  font-style: normal;
  font-size: small;
  /* 27px */
}

@media screen and(max-width< 747px) {
  .footer-column-links {
    flex-direction: column;
  }
}

.footer-column-links {
  align-self: flex-end;
  color: var(--Black, #000);
  align-items: flex-start;
  display: flex;
  /* Text/Medium/Semi Bold */
  justify-content: space-evenly;
  font-style: normal;
  font-size: small;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-logo {
  align-self: center;
  width: 20%;
}

.footer-column-links-mobile {
  align-self: flex-start;
  color: var(--Black, #000);
  align-items: flex-start;
  display: flex;
  /* Text/Medium/Semi Bold */
  font-style: normal;
  font-size: small;
  flex-direction: column;
  width: 70%;
  flex-wrap: wrap;
}

.footer-column-links {
  align-self: flex-end;
  color: var(--Black, #000);
  align-items: flex-start;
  display: flex;
  /* Text/Medium/Semi Bold */
  font-style: normal;
  font-size: small;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
}

.footer-column-link {
  align-self: flex-start;
  color: var(--Black, #000);
  align-items: flex-start;
  display: flex;
  /* Text/Medium/Semi Bold */
  font-style: normal;
  font-size: medium;
  font-weight: 600;
  flex-direction: column;
}

.footer-spacer {
  width: 90%;
  padding-bottom: 5px;
  margin-left: 5%;
  border-top: 2px solid #494646;
}

.footer-column-link-2 {
  align-self: flex-start;
  color: var(--Black, #000);
  align-items: flex-start;
  display: flex;
  /* Text/Medium/Semi Bold */
  font-style: normal;
  font-size: medium;
  flex-direction: column;
  font-weight: 100;
}

.Header-column {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.button-sign-up {
  background-color: #89ba33c7;
  border: 1px solid #000;
  /* Add a border to make the button visible */
  color: #fff;
  /* Text color */
  padding: 11px 15px;
  /* Adjust padding as needed */
  text-decoration: none;
  /* Remove underline for anchor elements */
  display: inline-block;
  /* Ensure the button behaves as a block element */
  cursor: pointer;
  /* Add cursor pointer for interaction */
  border-radius: 5px;
}

.nav-button {
  background-color: transparent;
  border: 1px solid transparent;
  /* Add a border to make the button visible */
  color: #000;
  /* Text color */
  padding: 10px 15px;
  /* Adjust padding as needed */
  text-decoration: none;
  /* Remove underline for anchor elements */
  display: inline-block;
  /* Ensure the button behaves as a block element */
  cursor: pointer;
  /* Add cursor pointer for interaction */
}

.button-newsletter {
  background-color: transparent;
  border: px solid #000;
  /* Add a border to make the button visible */
  color: #000;
  /* Text color */
  padding: 10px 15px;
  /* Adjust padding as needed */
  text-decoration: none;
  /* Remove underline for anchor elements */
  cursor: pointer;
  /* Add cursor pointer for interaction */
  margin-left: 5px;
  margin: 10px;

}

.email-newsletter {
  background-color: transparent;
  border: 1px solid #000;
  /* Add a border to make the button visible */
  color: #000;
  /* Text color */
  padding: 10px 15px;
  /* Adjust padding as needed */
  text-decoration: none;
  /* Remove underline for anchor elements */
  cursor: text;
  /* Add cursor pointer for interaction */
  margin: 10px;
}

.nav-select {
  border-color: transparent;
  color: var(--White, #000);
  padding: 10px;
  cursor: pointer;
  align-self: flex-start;

  /* Text/Regular/Normal */
}

.App-link {
  color: #61dafb;
}

@media (max-width: 747px) {
  .header-nav {
    display: none
  }
}

.navigation-outer {
  display: none;
}

@media (max-width: 767px) {
  .navigation-outer {
    display: inline;
  }
}

.navigation {
  display: none;
}

@media screen and (max-width: 747px) {
  .navigation {
    display: inline;
    z-index: 6;
  }

  .navigation ul {
    display: flex;
    z-index: 6;
  }
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.hamburger {
  display: none;
  z-index: 6;
}


@media (max-width: 767px) {
  .hamburger {
    display: flex;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 6;
  }
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

input:focus::placeholder {
  color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}